$ft-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold;
$ft-sizes: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20;
$num: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

$gap: 0.5rem;

/** z-index */
$z-index-header: 1024;
$z-index-backdrop: 1025;

/** Maximum */
$breakpoint-desktop: 1024;
$breakpoint-tablet: 768;
$breakpoint-mobile: 320;

$white: #fff;
$black: #232337;
$highlight: #fff4ce;
$empathy: #fab700;

$primary: #dd640c;
$secondary: #90caf9;
$success: #428f4c;
$info: #345eeb;
$warning: #dba830;
$danger: #a31f0d;
$search: #333348;

$theme-color: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'search': $search,
);

$positive: #ff7a18;
$disabled: #eceef2;

$gray-100: #f5f5f5;
$gray-200: #eaeced;
$gray-300: #e1e3eb;
$gray-400: #b9bdc7;
$gray-500: #9da1ab;
$gray-600: #5c6887;
$gray-700: #47516b;
$gray-800: #313148;
$gray-900: #232337;

$gray: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900,
);

$blue: #006ac6;

$facebook: #0066d0;
$twitter: #02a0dd;
$instagram: #e1306c;
