@use 'variable';
@use 'mixin';

.flex_box {
  height: 100%;
  display: flex;
  align-items: center;
  gap: #{variable.$gap * 4};
}

.flex_box_column {
  flex-direction: column;
}

.flex_box_row {
  flex-direction: row;
}
