@use 'variable';
@use 'mixin';

.flex_box {
  display: flex;
  align-items: center;
  gap: #{variable.$gap * 4};

  &.full_height {
    height: 100%;
  }

  &.full_width {
    width: 100%;
  }

  &.align_items_start {
    align-items: flex-start;
  }
}

.flex_box_column {
  flex-direction: column;
}

.flex_box_row {
  flex-direction: row;
}
