@use 'variable';

:root {
  --foreground-rgb: #232337;
  --background-rgb: rgb(255, 255, 255);

  @each $name, $color in variable.$theme-color {
    --#{$name}-hex: #{$color};
  }

  @each $name, $color in variable.$gray {
    --gray-#{$name}-hex: #{$color};
  }

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-rgb: rgb(30, 32, 34);

    @each $name, $color in variable.$theme-color {
      --#{$name}-hex: #{$color};
    }

    @each $name, $color in variable.$gray {
      --gray-#{1000 - $name}-hex: #{$color};
    }

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  letter-spacing: -0.5px;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  list-style: none;
  list-style-image: none;
}

form {
  height: 100%;
}

button {
  font-family: inherit;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

input,
textarea {
  font-family: inherit;
  &::placeholder {
    color: #{variable.$gray-400};
  }
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@each $size in variable.$num {
  .m-#{$size} {
    margin: #{variable.$gap * $size};
  }
  .mb-#{$size} {
    margin-bottom: #{variable.$gap * $size};
  }
  .mt-#{$size} {
    margin-top: #{variable.$gap * $size};
  }
  .ml-#{$size} {
    margin-left: #{variable.$gap * $size};
  }
  .mr-#{$size} {
    margin-right: #{variable.$gap * $size};
  }
  .my-#{$size} {
    margin-top: #{variable.$gap * $size};
    margin-bottom: #{variable.$gap * $size};
  }
  .mx-#{$size} {
    margin-left: #{variable.$gap * $size};
    margin-right: #{variable.$gap * $size};
  }
  .p-#{$size} {
    padding: #{variable.$gap * $size};
  }
  .pb-#{$size} {
    padding-bottom: #{variable.$gap * $size};
  }
  .pt-#{$size} {
    padding-top: #{variable.$gap * $size};
  }
  .pl-#{$size} {
    padding-left: #{variable.$gap * $size};
  }
  .pr-#{$size} {
    padding-right: #{variable.$gap * $size};
  }
  .py-#{$size} {
    padding-top: #{variable.$gap * $size};
    padding-bottom: #{variable.$gap * $size};
  }
  .px-#{$size} {
    padding-left: #{variable.$gap * $size};
    padding-right: #{variable.$gap * $size};
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
