@use 'variable';
@use 'mixin';

.input {
  min-height: 32px;
  padding-left: #{variable.$gap};
  padding-right: #{variable.$gap};
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(
    #{variable.$gray-300},
    lighten(variable.$gray-300, 10%)
  );
  outline: none;
  width: 100%;

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    transition: none 0s ease 0s;
    box-shadow: 0 0 0 1px #{variable.$gray-300};
    border-color: #{variable.$gray-300};
  }
}

.input_lg {
  font-size: 1.6rem;
  min-height: 52px;
}

.input_border_bottom {
  border: 0px;
  border-bottom: 1px solid
    light-dark(#{variable.$gray-300}, lighten(variable.$gray-300, 10%));
  background-color: inherit;
  color: #{variable.$gray-800};

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    border-width: 2px;
    box-shadow: initial;
  }
}

.input_disabled {
  user-select: none;
  background-color: #{variable.$gray-300};
}

.input_error {
  border-color: #{variable.$danger};

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    box-shadow: 0 0 0 1px #{variable.$danger};
    border-color: #{variable.$danger};
  }
}

.textarea {
  padding-top: #{variable.$gap * 0.5};
  padding-bottom: #{variable.$gap * 0.5};
  border-radius: 4px;
}
