@use 'variable';
@use 'mixin';

.contents {
  margin: 0 auto;
  margin-top: 60px;
  // margin-bottom: 40px;
  position: relative;
  min-height: calc(100% - 60px);
  max-width: 100%;

  main {
    padding: 1.2em;
  }

  @include mixin.desktop {
    max-width: #{variable.$breakpoint-desktop}px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: #{variable.$z-index-header};
  width: 100%;
  height: 60px;
  background: var(--background-rgb);
  border-bottom: 1px solid var(--gray-300-hex);

  // &::before {
  //   content: ' ';
  //   position: absolute;
  //   width: 100%;
  //   height: 60px;
  //   top: 0;
  //   left: 0;
  //   box-shadow: 0 5px 10px -4px #{variable.$gray-400};
  // }
}

.header_area {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-left: 1.2em;
  padding-right: 1.2em;

  nav {
    flex-grow: 1;
  }

  nav > ul {
    display: flex;
    height: 100%;
  }

  nav > ul li {
    a {
      font-style: normal;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      height: 100%;
      color: #fff;
      padding: 21px 21px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;
    }

    &.active a {
      color: #{variable.$positive};
    }

    &:hover a {
      text-decoration: none;
      color: #{variable.$positive};
      background: hsla(0, 0%, 100%, 0.1);
      opacity: 1;
    }
  }

  .actions {
    a {
      padding: 0.5em;
    }
  }

  @include mixin.desktop {
    max-width: #{variable.$breakpoint-desktop}px;
  }
}

.skip_nav {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
